{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
<div class="form w-100 m-auto">
    <form method="POST">
        {% csrf_token %}
        <h1 class="h5 mb-3 fw-normal">パスワード変更</h1>
        <div class="form-floating mb-3">
            {{ form.current_password | add_class:"form-control" }}
            <label for="floatingInput">現在のパスワード</label>
        </div>
        <div class="form-floating mb-3">
            {{ form.new_password | add_class:"form-control" }}
            <label for="floatingPassword">新しいパスワード</label>
        </div>
        <div class="form-floating mb-3">
            {{ form.confirm_new_password | add_class:"form-control" }}
            <label for="floatingPassword">新しいパスワード（確認）</label>
        </div>
        <button class="btn btn-dark w-100 py-2" type="submit">パスワード変更</button>
    </form>
</div>
{% endblock content %}