{% extends 'base.html' %}

{% block content %}
<div class="container">
  <section>
    <form method="get" action="#">
      <div class="btn-group dropup" style="width: 150px;">
        <button type="button" class="btn btn-outline-dark rounded-0 text-nowrap btn-sm" data-bs-toggle="dropdown" aria-expanded="false">
          並び替え ▼
        </button>
        <ul class="dropdown-menu rounded-0">
          <li><a class="dropdown-item" href="#"><button class="btn btn-sm" type="submit" name="condition" value="score">評価が高い</button></a></li>
          <li><a class="dropdown-item" href="#"><button class="btn btn-sm" type="submit" name="condition" value="new">投稿日が新しい</button></a></li>
        </ul>
      </div>
    </form>
  </section>
  <section id="list_reviews">
    <p class="mt-0">{{ message }}</p>
    {% for review in restaurant_reviews %}
    <div class="card mt-3 mb-2" style="width: 100%;">
      <div class="card-body">
        <a href="{% url 'review_detail' pk=review.id %}"><p class="fnt_big bold mb-1">{{ review.review_title }}</p></a>
        <p class="mb-1">投稿者:{{ review.get_reviewer }}</p>
        <p class="mb-1">投稿日:{{ review.create_at }}</p>
        <span>評価:</span>
        <span class="fnt_yellow">{{ review.get_star_score }}</span>
        <span>{{ review.score }}</span>
      </div>
    </div>
    {% endfor %}
  </section>
  <!-- ページネーション -->
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-start">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}
        {% for page_num in paginator.page_range %}
            {% if page_obj.number == page_num %}
            <li class="page-item active"><span class="page-link">{{ page_num }}</span></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
  </nav>
</div>
{% endblock content %}