{% extends 'base.html' %}

{% block content %}
<section id="privacy_policy">
    <div>
        <h5 class="b_bottom mb-3">プライバシーポリシー</h5>
        <h6>１．収集する情報</h6>
        <ul>
            <li>アクセスログやクッキーを使用して、サイトの利用状況を分析することがありますが、これらは個人を特定するものではありません。</li>
        </ul>
        <h6>２．個人情報の利用目的</h6>
        <ul>
            <li>当サイトは、お客様から提供いただいた個人情報を、以下の目的で利用いたします</li>
            <li class="list_style ms-3">サービスの提供や問い合わせへの対応</li>
            <li class="list_style ms-3">サイトの改善や運営のための統計情報の収集</li>
        </ul>
        <h6>３．第三者への提供</h6>
        <ul>
            <li>当サイトは、お客様の個人情報を第三者に提供することはありません</li>
        </ul>
        <h6>４．セキュリティ対策</h6>
        <ul>
            <li>当サイトは、お客様の個人情報を適切に管理し、漏洩や不正アクセスを防止するための対策を講じています。</li>
        </ul>
        <h6>５．第三者への提供</h6>
        <ul>
            <li>プライバシーポリシーに関するご質問やお問い合わせは、以下のメールアドレスまでお願いいたします。</li>
            <p>privacy_admin@aaa.com</p>
        </ul>
    </div>
</section>
{% endblock content %}