{% extends 'base.html' %}

{% load custom %}

{% block content %}
<section id="uriage">
    <h6 class="b_bottom">売上管理</h6>
    <div class="mt-3">
        <select id="year">
            <option value="-">-</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
        </select>
        <p class="mt-3">{{ year }}年の情報を表示中</p>
        <table class="table_layout mt-3 w-100">
            <tr>
                <th>月</th>
                <th>登録者数(人)</th>
                <th>売上金額(円)</th>
            </tr>
            {% for uriage in uriages %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ uriage }}</td>
                <td>{{ uriage | multiply:300 }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</section>
<script>
    $("#year").change(function(){
  window.location = "{% url 'uriage' %}?y=" + $("#year").val();
})
</script>

{% endblock content %}